{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>{{ board.title }}</h1>
        <div class="row">
            {% for col in board.columns.all %}
                <div class="col-4">
                    <h3>{{ col.title }}</h3>
                    <ul>
                        {% for task in col.task.all %}
                            <li>{{ task.title }}</li>
                            <ul>
                                <li>{{ task.description }}</li>
                            </ul>  
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}